body {
	font-family:"Janson-Roman", serif;
    background-color: cornsilk;
    color: black;
    padding: 15px;
    color: black;
    text-align: center;
}
h1 {
	font-family:"Janson-Roman"
}
h3, i {
	font-family:"Janson-Italic", serif;
	font-style: italic;
}
@font-face {
    font-family: "Janson-Roman";
	src: url("Janson-Roman.ttf");
}
@font-face {
    font-family: "Janson-Italic";
    src: url("https://db.onlinewebfonts.com/t/a616fbd33926ec77e7e36b9b48f84a4c.ttf")format("truetype");
}
